* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    background: var(--base-color-second);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: white;
    min-width: 320px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.esquerda h1 {
    margin-bottom: 10px;
    text-align: center;
    font: 700 2.5rem var(--title-font);
    color: var(--title-color);
}

span {
    color: var(--base-color);
}

.direita h2 {
    width: 400px;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
    font: 700 2rem var(--title-font);
    color: var(--title-color);
}

.label-float {
    position: relative;
    padding-top: 13px;
}

.label-float input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
}

.label-float input:focus {
    border: 2px solid var(--base-color);
}

.label-float input::placeholder {
    color: transparent;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
}

.label-float input:required:invalid+label:before {
    content: '*';
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 13px;
    top: 0;
    color: var(--base-color);
}

form input[type="submit"] {
    cursor: pointer;
    background-color: var(--base-color);
    color: var(--text-color-light);
    width: 6.5rem;
    height: 2.5rem;
    display: inline-flex;
    text-align: center;
    align-items: center;
    padding: 0 2rem;
    max-width: 200px;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.3s;
}

form input[type="submit"]:hover {
    background: var(--base-color-alt);
    /*hover dos botões*/
}

p {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    font-size: 1em;
    color: var(--title-color);
    /*Mudar a cor do "marlon"*/
}

a {
    text-decoration: none;
    color: var(--title-color);
    /*Mudar a cor do "marlon"*/
    font-size: 15px;
    text-align: center;
}

a:hover {
    color: var(--base-color-alt);
    /*hover dos botões*/
    ;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.img img {
    width: 50px;
    height: 50px;
}

.button-2 {
    /*cor dos botões*/
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.3s;
}

.button-2:hover {
    background: var(--base-color-alt);
    color: white;
    /*hover dos botões*/
}

.div-btn {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 90px;
    display: flex;
}

.div1+.div2 {
    margin-left: 25px;
}